<html lang="en">
<head>
  <!-- Meta Tags-->
  <title> Maximilian Rogers -- Software Engineer</title>
  <!-- Style imports-->
  <link rel="stylesheet" href="css/agency.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/fonts.css">
</head>

<body id="page-top" class="index">
<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Yvonne DeSousa</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/yvonne desousa.png" class="img-responsive img-circle" alt="">
                    <h4>Yvonne DeSousa</h4>
                    <p class="text-muted">
                        <i class="fa fa-envelope"></i>
                        yvonne@yvds.net <br>
                       <a href="img/yvonne desousa resume.pdf">
                        <i class="fa fa-file-pdf-o "></i>
                        resume</a></p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/yvds"><i class="fa fa-github-alt"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/yvonnedesousa"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://www.twitter.com/yvesdesousa"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="team-member">
                    <h4>Hello!</h4>
                    <p class="text-muted">I'm Yvonne DeSousa, and I'm a software engineer from New York. </p>

                    <p class="text-muted">I will be graduating Stony Brook University in December 2014, and am seeking full-time employment opportunities. I have a particular interest in positions in web development, and in the metro New York area.</p>

                </div>
            </div>

        </div>

    </div>
</section>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Made With <i class="fa fa-heart"></i> Yvonne DeSousa 2014</span>
            </div>
        </div>
    </div>
</footer>

  <!-- Scripts -->
  <script src="js/jquery-1.11.min.js"></script>
  <script src="js/jquery-easing.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>
  <script src="js/agency.js"></script>
</body>
</html>
